@import 'nib'
@import 'base'

basecolor = #34A6FF
contrastcolor = #5C5
actioncolor = #fe8800


@font-face
    font-family: styled
    src: url('/fonts/maven-pro-light-300.otf');

@font-face
    font-family: main
    src: url('/fonts/signika-regular.ttf');

body
    font-family: styled, helvetica

html
    overflow: hidden

// layout

#home-view
  height 100%
  margin 0
  padding 0
  background-color bgcolor

#nav
  margin 0
  padding 0
  background-color bgcolornav

#todo-list
  background-color #FCFCFC
  padding-bottom: 1%
  overflow: hidden
  border: 0

#todo-list h2
  padding 1%

#content
  padding: 0
  border: 0
  background-color bgcolor

// Tasks


.task
    padding: 0 2%

    input
        padding-left: 1%
        border: 1px solid transparent
        border-radius: 0px
        shadow: none
        font-family: styled, helvetica

.task
    input:hover, input.hovered
        padding-left: 1%
        border: 1px solid actioncolor
        border-radius: 0px
        shadow: inset 1px 1px 2px rgba(100, 100, 100, 0.1)
        color: #333

.task
    .handle
        width: 25px
        height: 32px
        line-height: 35px
        text-align: center
        display: none
        background: url('../img/todos-handle.png') no-repeat center center
        background-size: 20px 20px
        opacity: 0.5

    input:focus
    input:active
        padding-left: 1%
        border: 1px solid rgba(82, 168, 236, 0.8)
        border-radius: 0px
        shadow: inset 1px 1px 2px rgba(100, 100, 100, 0.1)
        color: #333

        .handle
            display: inline-block

.task:hover
.task:focus
.task:active
    .handle
        display: inline-block

.task button
    float left

/* Drag'N'Drop handling */
.task.jstree-draggable
    -webkit-user-select all

.task .handle.jstree-draggable
    opacity: 1

.separator
    width: 100%
    height: 0
    display: block
    visibility: hidden
    border-bottom: 1px solid #CCC

[draggable]
    user-select none

/* end Drag'N'Drop */

.done button
    background: contrastcolor
    border-color: contrastcolor
    padding: 6px
    margin-top: 2px

.done button:hover
    background: actioncolor
    border-color: actioncolor

.done .description
    color #AAA
    text-decoration line-through
    margin-top: 0px


.task .description
    margin-left: 1%
    font-size: 16px
    height:22px
    width: 88%
    padding: 4px 1%
    background-color: #FCFCFC
    margin-top: 2px
    margin-bottom: 4px

.info
        font-size: 10px
        color: #777
        padding-left: 20px

.todo-button
    width: 6%

.add-button
    width: 6%

#todo-list
    .add-task.disabled
        background: #777
        border-color: #777

.task.new-task
    position: relative
    display: none

    .add-task
        width: 6%

    input
        border: 1px solid #ccc
        color: #ccc
    input:focus
        color: #333
        border-color: basecolor

.task-buttons
    float right
    margin-top: 6px
    margin-right: 2%

#todo-list
    header
        margin-top: 20px
        position: relative

        .toggle-task-form
            position: absolute
            right: 18px
            bottom: 0
            opacity: 0.2

.todo-list-title
    border-bottom 1px solid #CCC
    padding-left: 1%
    margin-bottom: 3%
    margin-top: 1%
    margin-left: 1%
    margin-right: 1%

.todo-list-title .description
    font-weight bold
    font-size 30px
    font-variant small-caps
    line-height 40px
    margin-left 0

.todo-list-title button
    float right


.archive-title
    font-size: 16px
    border-bottom: 1px solid #CCC
    margin: 3% 1% 2% 1%

.todo-list-title .description
    margin-bottom: 2px

.breadcrumb
    background: none
    border: none
    font-size: 12px
    padding: 2px
    margin: 0
    text-transform: lowercase

    a
        color: basecolor

    a:hover
        font-size: 12px
        font-weight: normal
        color: actioncolor

.task-infos
    font-size: 12px
    color: #AAA

    a
        color: basecolor

    a:hover
    a:active
    a:focus
        font-size: 12px
        font-weight: normal
        color: actioncolor
        border: 0

.completion-date
    font-size: 12px
    border-bottom: 1px solid #EEE
    margin-bottom: 5px


/* buttons */

.btn
    border: 1px solid basecolor
    background: basecolor
    color: white
    box-shadow: none
    text-shadow: none
    border-radius: 0
    font-family: main
    font-weight: bold

.btn:hover
    background: #45C7F5
    color: white

.btn:active
    background: #23A5E3
    shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    color: white

.btn-info
    background: basecolor
    border: 1px solid basecolor
    box-shadow: none
    margin-top: 2px
    padding: 6px

.btn-info:hover
    background: actioncolor
    border-color: actioncolor
    font-weight: bold
    text-shadow: none

.btn-info:active
    background: actioncolor -20%
    border-color: actioncolor - 20%
    font-weight: bold

 #new-task-button
     width: 150px
     margin-left: 20px

#yes-button
    padding: 6px

.no-button
    margin: 0

/* tags */

#tags
    margin-left: 20px
    padding: 10px 0

    a
        line-height: 14px
        color: #333
        cursor: pointer

    a:hover
        font-weight: normal


/* responsive */

@media (max-width: 1200px)
    .task .description
        width: 86%

@media (max-width: 960px)
    .task .description
        width: 82%

@media (max-width: 700px)
    .modal
        position absolute
        margin 0
        left 0
        top 0
        width: 100%
        height: 100%
        overflow scroll

    .todo-button
        width: 16%

    .task.new-task .add-task
        width: 16%
        

    .task .description
        width: 75%

    .ui-layout-toggler
         display: none
