@import 'nib'
@import 'base'

basecolor = #34A6FF
contrastcolor = #9D9
actioncolor = #fe8800


@font-face
    font-family: styled
    src: url('/fonts/maven-pro-light-300.otf');

@font-face
    font-family: main
    src: url('/fonts/signika-regular.ttf');

body
    font-family: styled, helvetica

html
    overflow: hidden

// layout

#home-view
  height 100%
  margin 0
  padding 0

#nav
  margin 0
  padding 0
  background-color bgcolornav


#todo-list
  background-color #FCFCFC
  padding-bottom: 1%
  overflow: hidden
  border: 0


#todo-list h2
  padding 1% 

#content 
  padding: 0

.task
    padding 3px 2%

    input
        border: 1px solid transparent
        border-radius: 20px
        padding-left: 10px
        shadow: none
        font-family: styled, helvetica

.task:hover
    input
        border: 1px solid #DDD
        border: 1px solid rgba(82, 168, 236, 0.8)
        color: #333
        border-radius: 20px
        padding-left: 10px
        shadow: inset 1px 1px 2px rgba(100, 100, 100, 0.1)

.task
    input:focus
    input:active
        border: 1px solid actioncolor
        color: #333
        border-radius: 20px
        padding-left: 10px
        shadow: inset 1px 1px 2px rgba(100, 100, 100, 0.1)

.task button
  float left

.done button
    background: contrastcolor
    border-color: contrastcolor

.done .description
  color #AAA
  text-decoration line-through
  

.task .description
  margin-left: 1% 
  font-size: 16px
  height:22px
  width: 90%
  padding: 4px 10px
  background-color: #FCFCFC
  margin-bottom 0

.todo-button
  width: 6%

.task-buttons
  float right
  margin-top: 6px
  margin-right: 2%

.todo-list-title
  border-bottom 1px solid #CCC
  padding-left: 1% 
  margin-bottom: 3%
  margin-top: 1%
  margin-left: 1%
  margin-right: 1%

.todo-list-title .description
  font-weight bold
  font-size 30px
  font-variant small-caps
  line-height 40px
  margin-left 0

.todo-list-title button
  float right


.archive-title
  font-size: 16px
  border-bottom: 1px solid #CCC
  margin: 3% 1% 2% 1%

.todo-list-title .description
  margin-bottom: 2px


/*
//.btn 
  //background-repeat: repeat-x 
  //background-image: linear-gradient(top, #EAEAEA, #AaAaAa)
  //background-color: #AAAAAA !important
  //border-color: #CCC 
  //-webkit-font-smoothing: antialiased 
  //color: #444
  //text-shadow: none

//.btn-info
  //background-image: linear-gradient(top, #bdb09d, #927f61)  
  //background-color: #927f61 !important
  //color: #EEE
  //border-color: #927f61 #927f61 hsl(36, 20%, 43%)  

//.btn.disabled
  //color: #020
  //text-shadow: none
  //background-color: #A9D74F !important 
  //cursor: pointer

//.btn-large
  //text-shadow: none

//.todo-button
  //background-color: #c17400 !important
  //background-image: linear-gradient(top, #f5bb65, #c17400)
  //border-color:  #f5bb65, #e68f0e, hsl(36, 20%, 43%)  
  //color: #FFFAFA
  */

.breadcrumb
  background: none 
  border: none 
  font-size: 12px
  padding: 2px
  margin: 0
  text-transform: lowercase

  a 
    color: #333

  a:hover
    font-size: 12px
    font-weight: normal

.task-infos
  font-size: 12px
  color: #AAA

.completion-date
  font-size: 12px
  border-bottom: 1px solid #EEE
  margin-bottom: 5px


/* buttons */

.btn
    border: 1px solid basecolor
    background: basecolor
    color: white
    shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
    text-shadow: none
    font-family: main

.btn:hover
    background: #45C7F5
    color: white

.btn:active
    background: #23A5E3
    shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    color: white

.btn-info
    margin-top: 2px
    background: basecolor
    border: 1px solid basecolor
    shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.05)

.btn-info:hover
    background: actioncolor + 20%
    border-color: actioncolor + 20%
    font-weight: bold

.btn-info:active
    background: actioncolor -20%
    border-color: actioncolor - 20%
    font-weight: bold

/* tags */

#tags
    margin-left: 20px
    padding: 10px 0
    border-bottom: 1px solid #999

    a
        line-height: 14px
        color: #333
        cursor: pointer

    a:hover
        font-weight: normal

    a.selected
        background: #C5EBF9

/* responsive */

@media (max-width: 700px)
  .modal
    position absolute
    margin 0
    left 0
    top 0
    width: 100%
    height: 100%
    overflow scroll

  .todo-button
    width: 20%

  .task .description
    width: 75%

  .ui-layout-toggler
      display: none
