@import 'nib'
@import 'base'

// layout

#home-view
  height 100%
  margin 0
  padding 0

#nav
  margin 0
  padding 0
  background-color bgcolornav
  shadow 0 0 3px navshadowcolor

#todo-list
  shadow 2px 2px 5px bgshadowcolor 
  border 1px solid objectbordercolor
  background-color #FCFCFC

// Tree

#tree
  font-size 12
  padding 10px
  border-top 1px solid white
  background-color bgcolornav

#tree li
  padding 0

#tree ins
  width 14px

#tree a
  text-transform lowercase
  padding 3px 5px
  margin 2px 0px
  border 1px solid transparent
  font-weight bold
  color treelinkcolor

#tree a.jstree-clicked
  background bgcolortreeselected 
  color #FAFFFA

#tree a:hover
  shadow 1px 1px 1px treetexthovershadowcolor
  background bgcolortreetexthover

#tree a.jstree-clicked:hover
  color treelinkcolor

#tree-buttons
  border-bottom 1px solid bordercolortoolbar
  background-color bgcolortoolbar
  padding 2% 4%

#tree-buttons div
  display inline
  background-repeat no-repeat
  background-position center
  cursor pointer

#tree-buttons i

#tree-buttons .spacer
  display block

#tree-buttons div.button:hover
  background: linear-gradient(top , bgcolorhoverbuttons 0%, bgclearcolorhoverbuttons 100%)

#tree-buttons div.button
  background linear-gradient(top, bgcolorbuttons 0%, bgclearcolorbuttons 100%)
  shadow 0 1px 0 rgba(255, 255, 255, 0.12) inset, 1px 1px 1px rgba(0, 0, 0, 0.35)
  color black
  border 1px solid treebuttonbordercolor
  border-radius 2px 2px 2px 2px

#tree-buttons div.button:active
  background linear-gradient(top, bgcoloractivebuttons 0%, bgclearcoloractivebuttons 100%)
  shadow 0 0px 0 rgba(255, 255, 255, 0.12) inset, 0 0px 1px rgba(0, 0, 0, 0.35)

#tree-search-field
  margin-top 8px
  width 97%
  shadow 0 1px 0 rgba(255, 255, 255, 0.12) inset, 1px 1px 1px rgba(0, 0, 0, 0.35)
  border 1px solid treebuttonbordercolor
  border-radius 2px 2px 2px 2px
  display none

#tree-buttons div.button-active
  shadow 0 0 0 0

#tree a.jstree-search
  color: orange 

#have-done-list-button
  float: right

// To do list

#todo-list
  min-width: 460px
  padding-bottom: 1%

#todo-list h2
  padding 1% 

.task
  padding 3px 2%

.task:hover
  background-color #F6F9F0

.task button
  float left

.task input 
  border: 0px
  shadow none

.task input:focus
  shadow: 0 1px 1px rgba(255, 255, 255, 0.12) inset, 0px 0px 8px #87B52E

.task .description
  margin-left: 1% 
  font-size: 16px
  height:22px
  width: 90%
  padding: 4px
  background-color: #FCFCFC
  margin-bottom 0

.todo-button
  width: 6%

.task-buttons
  float right
  margin-top: 6px
  margin-right: 2%

.todo-list-title
  border-bottom 1px solid #CCC
  padding-left: 1% 
  margin-bottom: 3%
  margin-top: 1%
  margin-left: 1%
  margin-right: 1%

.todo-list-title .description
  font-weight bold
  font-size 30px
  font-variant small-caps
  line-height 40px
  margin-left 0

.todo-list-title button
  float right

.done .description
  color #AAA
  text-decoration line-through

.archive-title
  font-size: 16px
  border-bottom: 1px solid #CCC
  margin: 3% 1% 2% 1%

.todo-list-title .description
  margin-bottom: 2px


.btn 
  background-repeat: repeat-x 
  background-image: linear-gradient(top, #EAEAEA, #AaAaAa)
  background-color: #AAAAAA !important
  border-color: #CCC 
  -webkit-font-smoothing: antialiased 
  color: #444
  text-shadow: none

.btn-info
  background-image: linear-gradient(top, #bdb09d, #927f61)  
  background-color: #927f61 !important
  color: #EEE
  border-color: #927f61 #927f61 hsl(36, 20%, 43%)  

.btn.disabled
  color: #020
  text-shadow: none
  background-color: #A9D74F !important 
  cursor: pointer

.btn-large
  text-shadow: none

.todo-button
  background-color: #c17400 !important
  background-image: linear-gradient(top, #f5bb65, #c17400)
  border-color:  #f5bb65, #e68f0e, hsl(36, 20%, 43%)  
  color: #FFFAFA

.breadcrumb
  background: none 
  border: none 
  font-size: 12px
  padding: 2px
  margin: 0
  text-transform: lowercase


.completion-date
  font-size: 12px
  border-bottom: 1px solid #EEE
  margin-bottom: 5px
