basecolor = #34A6FF
contrastcolor = #5C5
actioncolor = #fe8800
lightgrey = #FAFAFA
bggrey = #F4F4F4
whitegrey = #FCFCFC
darkgrey = #333
grey = #E8E8E8

@font-face
    font-family: main
    src: url('/fonts/signika-regular.ttf');

#nav
    position absolute
    bottom 10px
    top 10px
    right 0px
    left 10px
    margin-bottom 0
    font-family: main
    border: 0

#tree
    outline: none
    border-top: 1px solid grey
    border-bottom: 1px solid grey
    background-color: transparent
    padding: 20px 0

    .jstree
        ul
            padding: 20px 0

    li
        position: relative
        margin-left: 10px
        padding: 0

    li:last-child
        border-bottom: 1px solid whitegrey

    ul > li > ul > li:last-child
        border-bottom: 0
        
    ins
        width: 14px
        margin-left: 0px

    a
        padding: 1px 0 0 3px
        margin: 0
        border: 0
        left: 23px
        right: 0px
        position: absolute
        color: darkgrey
        font-size: 14px

    .jstree-clicked
        border: 0
        background #CBE4FB

    .jstree-leaf ins.jstree-icon
        background-image: url('../img/icon-list.png')
        background-repeat: no-repeat

    a.jstree-hovered
        border: 0
        font-size: 14px
        background actioncolor + 50%
        font-weight: normal
        font-family: main

    .jstree-rename-input
        margin-left: -12px
        margin-top: 0px
    
.title
    padding: 15px
    border-top: 1px solid grey
    border-bottom: 1px solid whitegrey

#tree ins
    width 14px

#tree-buttons-root
    display none
    top 0
    position absolute
    right 10px
    top    0px
    
#tree-buttons-root div
    display inline
    cursor pointer
    padding-left 3px
    
#tree-buttons
    display none
    top 0
    position absolute
    right 10px
    top    0px

#tree-buttons div
    display inline
    cursor pointer
    padding-left 3px

#tags
    border-top: 1px solid grey
    border-bottom: 1px solid whitegrey
    margin-left: 0
    padding-left: 20px
    
    div
        padding: 2px 0
        margin: 2px 0
    a
        line-height: 14px
        color: #333
        cursor: pointer
        width: 100%
        padding: 2px 4px
        margin: 2px 4px
        font-size: 14px

    a:hover
        font-weight: normal
        background-color: actioncolor + 50%
        text-decoration: none
        font-family: main
        
    a:active
    a:focus
        font-weight: normal
        background-color: actioncolor + 50%
        text-decoration: none
        font-family: main
        outline: none

    .selected
        background: #C5EBF9

    .selected:focus
    .selected:active
        background: #c5ebf9

    .selected:hover
        background-color: actioncolor + 50%

    i
        padding-top: 4px
        background-position: 0px -44px

#home-view
    .ui-layout-resizer-open:hover
        background whitegrey
          
    .ui-layout-resizer
        border-right: 1px solid grey
        border-left: 1px solid grey
        background-color: whitegrey

    .ui-layout-resizer:hover
        border-right: 1px solid actioncolor
        border-left: 1px solid actioncolor

    .ui-layout-pane
        border-right: 0px
        
    .ui-layout-toggler
        position: absolute
        right: 0px
        border: 0px
        background-color: grey

    .ui-layout-toggler:hover
        background-color: actioncolor


@media (max-width: 700px)
    #home-view
        .ui-layout-resizer
            display: none
