nav
#content
    #todo-list
        header.todo-list-title.clearfix
            button(class="btn btn-large btn-success", id="new-task-button") 
                | new task
            span.description() To-do list
        #task-list
            .task.clearfix
                button(class="btn btn-info") todo
                span.description(contenteditable="true") 

