#content
  h1 Cozy template
  h2 Welcome
  ul
    li 
      a(href="https://github.com/mycozycloud/cozy-notes/wiki/Development-environment") Documentation
    li 
      a(href="https://github.com/mycozycloud") Github
