nav
#content
    #task-list
        .todo.todo-title.clearfix
            button(class="btn btn-large btn-success", id="new-task-button") 
                | new task
            span.description(contenteditable="true") My task list
        .todo
            button(class="btn btn-info") todo
            span.description(contenteditable="true") 
        .todo
            button(class="btn btn-info") todo
            span.description(contenteditable="true") my first task
        .todo.done
            button(class="btn disabled") done
            span.description my completed task, longer text

