button.btn.btn-info.todo-button todo
span.description(contenteditable="true") #{model.description} 
.task-buttons
    button.up-task-button.btn up
    button.down-task-button.btn down
    button.del-task-button.btn X
