button.btn.btn-info.todo-button todo
input.description(type="text",contenteditable="true",
                  value="#{model.description}" )
.task-buttons
    button.up-task-button.btn up
    button.down-task-button.btn down
    button.del-task-button.btn X
