button.btn.btn-info.todo-button todo
span.description(contenteditable="true") #{model.description} 
.task-buttons
    button.up-task-button up
    button.down-task-button down
    button.del-task-button X
