header.todo-list-title.clearfix
    p.breadcrumb()
    p.description()
    button.btn.btn-info.toggle-task-form(data-toggle="tooltip", title="Shortcut: alt+t") Loading...

div.new-task.task.clearfix
    button.btn.btn-info.add-task.disabled new
    input.description(type="text",contenteditable="true",
                      value="" )
#task-list
    .separator
h2.archive-title archives
#archive-list
