header.todo-list-title.clearfix
    button(class="btn btn-info", id="new-task-button") 
        | new task
    button.btn.hidden#edit-button show buttons
    p.breadcrumb() 
    p.description() 
#task-list
h2.archive-title archives
#archive-list
