header.todo-list-title.clearfix
    p.breadcrumb()
    p.description()

div.new-task.task.clearfix
    button.btn.btn-info.add-task.disabled new
    input.description(type="text",contenteditable="true", 
                      placeholder="What do you have to do next ?"
                      value="" )
#task-list
    .separator
h2.archive-title archives
#archive-list
