header.todo-list-title.clearfix
    button(class="btn btn-large btn-success", id="new-task-button") 
        | new task
    button(class="btn btn-large", id="edit-button") 
        | show buttons
    p
        span.breadcrump() 
    p
        span.description() 
#task-list
h2 archives
#archive-list
