#tree-buttons-root
    div#tree-create-root.button
        i.icon-plus
        
#tree-buttons
    div#tree-create.button
        i.icon-plus
    div#tree-rename.button
        i.icon-pencil
    div#tree-remove.button
        i.icon-remove
