#tree-buttons
    button.btn.btn-info#tree-create
        i.icon-plus
    button.btn.btn-info#tree-remove
        i.icon-remove
    button.btn.btn-info#tree-rename
        i.icon-pencil
    button.btn.btn-info#tree-search
        i.icon-search
    button.btn.btn-info#have-done-list
        i.icon-tasks
    .spacer
    input#tree-search-field(type="text")
